html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.sidebar__button {
 background-color: white;
 border: none;
 color: black;
 padding: 20px;
 width: 80%;
 text-align: center;
 border-radius: 999px;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 font-weight: 700;
 margin: 20px 0;
}

.sidebar__button--active {
   opacity: 0.8;
}

.sidebar__breakpoint__text {
   font-size: 16px;
   color: white;
   margin-top: 0;
   margin-bottom: 0;
}

.sidebar__breakpoint {
   background-color: white;
   width: 100%;
   height: 2.5px;
}